:root {
  --container-size: 444px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(255, 255, 255, 0.87);
}

/* -------------------------------------------------- */

.container {
  width: var(--container-size);
  height: var(--container-size);
  background-color: rgb(217, 217, 217);
  overflow: hidden;
  position: relative;
}

.circle__green__1 {
  width: 80%;
  height: 80%;
  background: rgb(42, 131, 88);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  bottom: 47%;
  right: 43.5%;
}

.circle__green__2 {
  width: 24.7%;
  height: 24.7%;
  background: rgb(29, 164, 103);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  bottom: 41.2%;
  right: 19.2%;
  z-index: 1;
}

.rectangle__blue {
  width: 76.5%;
  height: 11.6%;
  -moz-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  -webkit-transform: rotate(47deg);
  -o-transform: rotate(47deg);
  transform: rotate(47deg);
  background: rgb(31, 66, 153);
  position: absolute;
  bottom: 50.4%;
  left: 11.4%;
}

.oval__violet {
  width: 75%;
  height: 20%;
  background: rgb(145, 33, 188);
  -moz-border-radius: calc(var(--container-size) * 0.0765);
  -webkit-border-radius: calc(var(--container-size) * 0.0765);
  border-radius: calc(var(--container-size) * 0.0765);
  position: absolute;
  bottom: 13%;
  right: 12.5%;
  z-index: 1;
}

.triangle__red {
  width: 0;
  height: 0;
  border-bottom: calc(var(--container-size) * 0.268) solid rgb(204, 56, 25);
  border-left: calc(var(--container-size) * 0.247) solid transparent;
  position: absolute;
  right: 0%;
}
